In [283]:
from pathlib import Path
import pandas as pd

In [284]:
file_path = Path("archive/movies.csv")
df_movie = pd.read_csv(file_path)

In [286]:
df_movie["released"] = df_movie["released"].str.split("\s+\(").str[1]
df_movie["released"] = pd.to_datetime(df_movie['released'])

In [287]:
df_movie["released"] = df_movie["released"].dt.month_name()

In [288]:
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,NaN,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,NaN,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,NaN,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,NaN,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,NaN,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [289]:
df_movie = df_movie.drop(columns=['released'])

In [290]:
df_movie.head()

,name,rating,genre,year,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [291]:
df_movie['trixbudget']= df_movie['gross'] - 3.0*df_movie['budget']

In [292]:
df_movie['title_char'] = df_movie['name'].str.len()

In [293]:
df_movie['sequel'] = df_movie['name'].str.extract('(^\d*)')

df_movie['sequels']=df_movie['sequel'].isin([""]).astype(int)

df_movie = df_movie.drop(columns=['sequel'])

In [294]:
df_movie['director_number'] = df_movie.groupby('director')['score'].transform('sum')/df_movie.groupby('director')['score'].transform('count')
df_movie['writer_number'] = df_movie.groupby('writer')['score'].transform('sum')/df_movie.groupby('writer')['score'].transform('count')
df_movie['star_number'] = df_movie.groupby('star')['score'].transform('sum')/df_movie.groupby('star')['score'].transform('count')

In [295]:
df_movie.head()

,name,rating,genre,year,score,votes,director,writer,star,country,budget,gross,company,runtime,trixbudget,title_char,sequels,director_number,writer_number,star_number
0,The Shining,R,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,-10001228.0,11,1,8.033333,6.477419,6.610526
1,The Blue Lagoon,R,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,45353106.0,15,1,5.862500,5.500000,5.380000
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,484375067.0,46,1,6.900000,8.700000,8.500000
3,Airplane!,PG,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,72953539.0,9,1,6.637500,6.800000,5.850000
4,Caddyshack,R,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,21846344.0,10,1,6.377778,5.550000,5.955556

In [296]:
df_movie['success'] = df_movie['trixbudget'].map(lambda x: x>0).astype(int)

In [298]:
df_movie_clean = df_movie.drop(columns=['trixbudget', 'gross', 'score', 'votes'])

In [299]:
df_movie_clean.sort_values(by="year", ascending=False)

,name,rating,genre,year,director,writer,star,country,budget,company,runtime,title_char,sequels,director_number,writer_number,star_number,success
7667,Tee em el,NaN,Horror,2020,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,PK 65 Films,102.0,9,1,5.700000,5.700000,5.700000,0
7655,Legend of Deification,TV-PG,Animation,2020,Teng Cheng,NaN,Guangtao Jiang,China,NaN,Beijing Enlight Pictures,110.0,21,1,6.600000,NaN,6.600000,0
7643,Tenet,PG-13,Action,2020,Christopher Nolan,Christopher Nolan,John David Washington,United States,205000000.0,Warner Bros.,150.0,5,1,8.163636,7.980000,7.450000,0
7645,Birds of Prey,R,Action,2020,Cathy Yan,Christina Hodson,Margot Robbie,United States,84500000.0,Clubhouse Pictures (II),109.0,13,1,6.100000,5.966667,6.800000,0
7646,The Invisible Man,R,Drama,2020,Leigh Whannell,Leigh Whannell,Elisabeth Moss,Canada,7000000.0,Universal Pictures,124.0,17,1,6.900000,6.554545,7.100000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Resurrection,PG,Drama,1980,Daniel Petrie,Lewis John Carlino,Ellen Burstyn,United States,NaN,Universal Pictures,103.0,12,1,6.250000,6.500000,7.300000,0
65,Fatso,PG,Comedy,1980,Anne Bancroft,Anne Bancroft,Dom DeLuise,United States,NaN,Brooksfilms,93.0,5,1,6.300000,6.300000,6.350000,0
66,Moscow Does Not Believe in Tears,PG,Comedy,1980,Vladimir Menshov,Valentin Chernykh,Vera Alentova,Soviet Union,900000.0,Mosfilm,150.0,32,1,8.100000,8.100000,8.100000,0
67,The Fiendish Plot of Dr. Fu Manchu,PG,Comedy,1980,Piers Haggard,Rudy Dochtermann,Peter Sellers,United States,NaN,Braun Entertainment Group,100.0,34,1,6.066667,5.100000,5.050000,0
0,The Shining,R,Drama,1980,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,Warner Bros.,146.0,11,1,8.033333,6.477419,6.610526,0

In [300]:
df_movie_clean = df_movie_clean[df_movie_clean.budget > 15000000]

In [301]:
df_movie_clean = df_movie_clean[df_movie_clean.year > 1985]
df_movie_clean.nunique()

name               3185
rating                9
genre                14
year                 35
director           1236
writer             2004
star                978
country              34
budget              221
company             687
runtime             122
title_char           57
sequels               2
director_number     437
writer_number       339
star_number         417
success               2
dtype: int64

In [302]:
df_movie_clean = df_movie_clean.dropna()

In [303]:
df_movie_clean.head()

,name,rating,genre,year,director,writer,star,country,budget,company,runtime,title_char,sequels,director_number,writer_number,star_number,success
844,Aliens,R,Action,1986,James Cameron,James Cameron,Sigourney Weaver,United Kingdom,18500000.0,Twentieth Century Fox,137.0,6,1,7.871429,7.80,6.618182,1
848,Labyrinth,PG,Adventure,1986,Jim Henson,Dennis Lee,David Bowie,United Kingdom,25000000.0,Henson Associates (HA),101.0,9,1,7.266667,7.40,7.350000,0
849,Highlander,R,Action,1986,Russell Mulcahy,Gregory Widen,Christopher Lambert,United Kingdom,16000000.0,Thorn EMI Screen Entertainment,116.0,10,1,5.900000,5.60,5.690909,0
850,Big Trouble in Little China,PG-13,Action,1986,John Carpenter,Gary Goldman,Kurt Russell,United States,25000000.0,Twentieth Century Fox,99.0,27,1,6.621429,6.75,6.710000,0
855,Howard the Duck,PG,Action,1986,Willard Huyck,Steve Gerber,Lea Thompson,United States,37000000.0,Universal Pictures,110.0,15,1,4.250000,4.35,4.850000,0

In [305]:
df_movie_clean.to_csv('movie_data.csv', index = False)